:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 4rem);
}

hr {
  width: 10rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.comments {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 70%;
}

form {
  display: flex;
  flex-direction: column;
  button {
    width: fit-content;
  }
}

.comment {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #252525;
  width: fit-content;
}
