<header>
  <div class="header">
    <span class="header__title"><b>ASII</b> | IT Department</span>
    <span class="header__subtitle"></span>
  </div>
  <nav>
    <button mat-stroked-button (click)="onSelectView(0)">Info</button>
    <button mat-stroked-button (click)="onSelectView(1)">Store</button>
    <button mat-stroked-button (click)="onSelectView(2)">Top Developers</button>
    <button mat-stroked-button (click)="onSelectView(3)">Testimonials</button>
    <button mat-stroked-button (click)="onSelectView(4)">About</button>
  </nav>
  <div class="player_info" *ngIf="auth$ | async as auth">
    <span>Dev: {{ auth.username }} ({{ auth.uid }})</span>
    <span>{{ points$ | async | price }} CL</span>
  </div>
</header>
<main>
  <info [class.none]="selectedView() != 0" />
  <store [class.none]="selectedView() != 1" />
  <top [class.none]="selectedView() != 2" />
  <feedback [class.none]="selectedView() != 3" />
  <about [class.none]="selectedView() != 4" />
</main>
