<h1>About</h1>
<hr />
<div class="main">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam corrupti
    dolorem nobis voluptate dignissimos dolor ad distinctio, repudiandae ipsam
    quo dolores ipsum, beatae temporibus recusandae facere, labore odit in.
    Voluptates, nisi dolore excepturi, sunt quos sed quibusdam earum recusandae
    libero reprehenderit impedit pariatur ad, iste in. Culpa, laborum sunt!
    Autem.
  </p>
  <div>
    <b>Creators:</b> Grosu Mihnea, Casandra Irimia,
    <span matTooltip="Motricală Alin-Gabriel">M.A.G.</span>
  </div>
</div>
