<li>
  @if (user$ | async; as user) {
  <span>{{ name }}: {{ user[type + "Upgrades"][name] }}</span>
  <button
    mat-stroked-button
    [disabled]="
      user.points <
      (user[type + 'Upgrades'][name] + 1) *
        upgradeCost *
        upgradeCost *
        upgradeCost
    "
    (click)="
      onUpgrade(
        (user[type + 'Upgrades'][name] + 1) *
          upgradeCost *
          upgradeCost *
          upgradeCost
      )
    "
  >
    Upgrade ({{
      (user[type + "Upgrades"][name] + 1) *
        upgradeCost *
        upgradeCost *
        upgradeCost | price
    }}
    CL)
  </button>
  }
</li>
